@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

body *, 
body *::before,
body *::after { /*가상 요소선택자*/
    box-sizing: border-box;
}

html {
  font-size: 10px;
}
/* 스킵 네비게이션 */
body {
    font-family: 'Spoa Han Sans', 'Sans-serif';
    font-size: 1.4rem;
    color: #181818;
    background: #fff;

}
/* Link style */
a {
    color : inherit;  /* 색을 상속하도록한다.  */
    text-decoration: none; /* 밑줄 없게 한다.*/
   
}
.skip-nav {
  display: none;
}

/*layout*/
.header,
.visual,
.main,
.slogan {
    width: 940px;
    /* border:solid red; */
    margin: 0 auto;
   
}
/* Header */
.header {
    position: relative;
    background: rgb(226, 226, 47);
    border-radius: 0 0 15px 15px; /* 왼위 오위 오아래 왼아래 => 시계방향*/
}
/*logo*/
.logo {
    /* background-color: blue; */
    position: absolute;
    top: 50px;
    left: 65px;
    margin: 0;
    
}
/*안내 링크 목록 */
.member {
    display: block;
    list-style: none;
    margin: 0;
    text-align: right;
    color: red;
}

.visual {
    background: lime;
    height: 120px;
}
.main {
    background: skyblue;
    /*display: flex;
    flex-flow: row nowrap;*/
    
    padding: 30px 15px;
    overflow: hidden;
    min-height: 450px;
}
.member li{
    display: inline-block;
    margin: 0;
    padding-left: 0;
    list-style: none;
    padding: 2px 0;
}
.member a{
    padding: 6px 0;
    display: inline-block;
    background-color: pink;
}

.group {
    /*height: 200px;*/
    margin: 0 15px;
}
.group1 {
    background: rgb(45, 57, 233);
    width: 250px;
    float : left;
}

.group2 {
    background: rgb(255, 255, 255);
    width: 380px;
    float: left;
}
.group3 {
    background: rgb(248, 46, 10);
    width: 150px;
    float:left;
}
.slogan {
    background: orange;
}
.footer {
    background: pink;
}